.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .navibar {
    height: 48px;
    width: 1176px;
    border: none;
    // display: flex;
    // flex-direction: row;
    .navibartap {
      margin-top: 60px;
      position: relative;
      display: flex;
      //   display: flex;
      flex-direction: row;

      .onA {
        width: 400px;
        height: 45px;
        border: none;
        //background-color: blue;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-right: 1px solid black;

        .ona {
          font-size: 20px;
          //position: absolute;
          //margin-right: 30px;
          //border-right: 1px solid black;

          display: table;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .onB {
        width: 400px;
        height: 45px;
        //background-color: green;
        border: none;
        border-bottom: 1px solid black;
        border-top: 2px solid rgb(156, 154, 154);
        border-right: 2px solid rgb(156, 154, 154);
        .onb {
          font-size: 20px;

          display: table;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .onC {
        width: 392px;
        height: 45px;
        border: none;
        border-bottom: 1px solid black;
        border-top: 2px solid rgb(156, 154, 154);
        border-right: 2px solid rgb(156, 154, 154);
        //background-color: hotpink;
        .onc {
          font-size: 20px;

          display: table;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .productdetailinfo {
    padding: 30px 0;
    text-align: center;
    .video {
      width: 1180px;
      height: 550px;
      border: 0px;
      .lushvideo {
        width: 1180px;
        height: 550px;
      }
    }
    .todayshipped {
      width: 1180px;
      height: 300px;
      margin-top: 30px;
    }
    .product_inner_name {
      width: 1180px;
      height: 116px;

      //background-color: lime;

      .product_category {
        width: 1180px;
        height: 35px;
        padding-top: 10px;
        font-size: 15px;
        text-align: text;
        //background-color: limegreen;
      }
      .product_title {
        width: 1180px;
        height: 81px;
        //background-color: magenta;
        .product_title_kor {
          width: 1180px;
          height: 50px;
          font-size: 30px;
          font-weight: bold;
          padding-top: 5px;
          text-align: center;
          //background-color: mediumblue;
        }
        .product_title_en {
          width: 1180px;
          height: 30px;
          font-size: 18px;
          text-align: center;
        }
      }
    }
  }
  .related_product {
    height: 530px;
    width: 1180px;
    // display: flex;
    flex-direction: column;
    // background-color: forestgreen;
    .related_product_title {
      height: 115px;
      width: 1180px;
      padding-top: 10px;
      // background-color: fuchsia;
      text-align: center;
      .title_bold {
        width: 1180px;
        height: 60px;
        font-size: 30px;
        font-weight: bold;
      }
      .title_normal {
        width: 1180px;
        height: 45px;
        font-size: 15px;
      }
    }
    .related_product_picture {
      height: 315px;
      width: 1180px;
      background-color: goldenrod;
      display: flex;
    }
  }
  .customer_review_box {
    .customer_review_textbox {
      text-align: center;
      .customer_review_title {
      }
      .customer_review_title_b {
      }
    }
    .border-box {
      width: 1180px;
      height: 540px;
      background-color: blue;
    }
  }
}
