.SearchBox {
  width: 1200px;
  height: 92px;
  margin: 0 auto;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: lighter;

  .selection-box {
    position: relative;
    width: 100px;
    height: 40px;
    padding-left: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 15px;
    cursor: pointer;

    .options {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .arrow {
      position: absolute;
      top: 0;
      right: 4px;
      width: 18px;
      height: 38px;

      &.arrow-up {
        background-image: url("./Images/select-arrow-up-11x7.png");
        background-repeat: no-repeat;
        background-position: center;
      }

      &.arrow-down {
        background-image: url("./Images/select-arrow-down-11x7.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .list {
      position: absolute;
      left: -1px;
      width: inherit;
      padding: 5px 0px 5px 0px;
      background-color: #fff;
      border: 1px solid #ccc;
      display: flex;
      flex-direction: column;
      display: none;

      div:hover {
        background-color: #eee;
      }

      span {
        padding-left: 8px;
      }

      &.on {
        display: flex;
      }
    }
  }

  .search-box {
    width: 342px;
    height: 40px;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #ccc;
  }

  .search-button {
    width: 144px;
    height: 40px;
    margin-left: 25px;
    background-color: #000;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
}
