$color-font-black: #333333;
$color-font-gray: #8f8f8f;

.Goods {
  width: 300px;
  position: relative;
  padding: 0px 5px 30px 5px;

  .choice {
    position: absolute;
    top: 40px;
    left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
    display: none;
  }

  &:hover .choice {
    display: flex;
  }

  .thumbnail {
    text-align: center;

    img {
      width: 280px;
    }
  }

  .goods-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .condtion {
      height: 27px;
      margin-bottom: 2px;

      .condition-img:not(:last-child) {
        margin-right: 10px;
      }
    }

    .text {
      width: 100%;
      margin-bottom: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      a {
        width: 100%;
      }

      .goods-name {
        display: block;
        text-align: center;
        font-size: 16px;
        color: $color-font-black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .goods-tags {
        display: block;
        text-align: center;
        font-size: 14px;
        font-weight: lighter;
        color: $color-font-gray;
      }
    }

    .price {
      font-size: 16px;
      color: $color-font-black;
    }
  }
}
