.Event {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 200px;

  .heading {
    padding-top: 90px;
    text-align: center;

    h2 {
      font-size: 42px;
      padding-bottom: 80px;
    }
  }
}
