.HeroBanner {
  position: relative;
  height: 580px;
  //   border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;

  .slide-wrap {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    height: inherit;
    justify-content: center;
    align-items: center;

    .slick-dots-form {
      position: absolute;
      margin-left: 21%;

      .slick-dots {
        width: 14px;
        height: 14px;

        .slick-dot1,
        .slick-dot2,
        .slick-dot3,
        .slick-dot4,
        .slick-dot5,
        .slick-dot6,
        .slick-dot7 {
          width: 14px;
          height: 14px;
          border-radius: 7px;
          margin-top: 10px;
          border: solid white;
          border-width: thin;
          background-color: none;
          cursor: pointer;
        }
      }
    }
  }
}
