.Store {
  cursor: pointer;
  margin-bottom: 80px;

  &:not(:nth-child(4n)) {
    margin-right: 33px;
  }

  .store-img {
    width: 275px;
    height: 192.5px;
    overflow: hidden;
  }

  .store-name {
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
  }
}
