$color-font-black: #333333;
$color-font-gray: #8f8f8f;

.GoodsList {
  padding-bottom: 100px;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .category-name {
      font-size: 28px;
      color: $color-font-black;
    }
  }

  .lower-category {
    font-size: 14px;

    &::before {
      content: "";
      display: block;
      border-top: 2px solid $color-font-black;
      margin: 15px 0px;
    }

    li {
      display: inline-block;

      span {
        display: block;
        padding-right: 30px;

        a {
          display: block;
          padding: 10px 0px;
          // cursor: pointer;
          color: $color-font-gray;
        }

        a:hover {
          color: $color-font-black;
        }

        a.on {
          color: $color-font-black;
        }
      }
    }
  }

  .goods-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 20px;
  }

  .pagination {
    padding-top: 40px;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        font-size: 14px;
        color: $color-font-gray;
        padding: 0 10px;
      }

      li.on {
        color: $color-font-black;
        text-decoration: underline;
        cursor: default;
      }
    }
  }
}
