.Aside {
  width: 1200px;
  position: relative;

  .viewport {
    position: absolute;
    top: 600px;
    right: 0;
    width: 280px;
    height: 652px;
    overflow: hidden;

    .btn-container {
      position: absolute;
      height: 20px;
      bottom: 25px;
      right: 14px;
      z-index: 1;
      display: flex;
      align-items: center;

      span {
        display: inline-block;
        padding-bottom: 5px;
        margin: 0 14px;
        font-size: 14px;
        font-weight: lighter;
        color: #fff;
      }
    }

    .slider {
      display: flex;
    }
  }
}
