.StoreInfo {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 200px;

  .heading {
    padding-top: 90px;
    text-align: center;

    h2 {
      font-size: 42px;
    }
    p {
      padding-top: 25px;
      padding-bottom: 80px;
      font-size: 16px;
    }
  }

  .item-display {
    margin-top: 20px;
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;

    .not-found {
      font-size: 14px;
      font-weight: lighter;
      padding-bottom: 40px;
      margin: 0 auto;
    }
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-decoration: underline;
  }
}
