.GoodsReview {
  width: 1180px;
  height: 230px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  position: relative;
  .plusreview {
    width: 1180px;
    height: 40px;

    .title {
      font-size: 20px;
      font-weight: bold;
      position: absolute;
      margin-left: 10px;
    }
  }
  .reviewcontainer {
    display: flex;
    margin-top: 50px;
    .plusreviewphoto {
      width: 745px;
      height: 190px;
      border: 2px solid rgb(199, 198, 198);
      margin-right: 10px;
      .plusreviewphototext {
        width: 740px;
        height: 45px;
        margin-top: 30px;
        .text {
          font-size: 20px;
          padding-left: 30px;
        }
      }
      .plusreview_img {
        width: 700px;
        height: 100px;
        // background-color: blue;
        margin-left: 20px;
      }
    }
    .starscores {
      width: 428px;
      height: 190px;
      border: 2px solid rgb(199, 198, 198);
      margin-right: 10px;
      display: flex;
      .scores {
        width: 213px;
        height: 188px;
        .aligntext {
          width: 213px;
          height: 120px;
          margin-top: 35px;

          .text {
            font-size: 20px;
            text-align: center;
          }
          .number {
            font-size: 40px;
            text-align: center;
          }
          .stars {
            text-align: center;
          }
        }
      }
      .thenumberofreview {
        width: 213px;
        height: 188px;
        //background-color: goldenrod;
        .scoresb {
          width: 213px;
          height: 188px;
          //background-color: green;

          .aligntextb {
            margin-top: 30px;
            width: 213px;
            height: 120px;
            //background-color: hotpink;
            .registerreview {
              display: flex;
              padding: 5px;
              font-size: 20px;
              .registerreviewtext {
                color: gray;
                margin-right: 88px;
              }
              .registerrevviewnum {
                justify-content: flex-end;
              }
            }
            .photoreview {
              display: flex;
              padding: 5px;
              font-size: 20px;
              .photoreviewtext {
                margin-right: 88px;
                color: gray;
              }
              .photoreviewnum {
                justify-content: flex-end;
              }
            }
            .productcheck {
              display: flex;
              padding: 5px;
              font-size: 20px;
              .productchecktext {
                margin-right: 70px;
                color: gray;
              }
            }
          }
        }
      }
    }
  }
}
