.ProductDetail {
  display: none;
  position: absolute;
  width: 1456px;
  height: 378px;
  background-color: #333333;
  justify-content: center;
  margin-top: 38px;
  left: -492px;
  z-index: 1;

  .product-detail-layout {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    height: 298px;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .product-list {
    display: flex;
    flex-direction: column;

    .product-title {
      color: white;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
    }
    .product-cate {
      color: #b5b5b5;
      margin-top: 20px;
      font-size: 14px;
    }
  }
}

.product-show {
  position: absolute;
  display: flex;
  width: 2000px;
  height: 378px;
  background-color: #333333;
  justify-content: center;
  margin-top: 238px;
  left: -780px;
  z-index: 1;

  .Brand-detail-layout {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    height: 298px;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .Brand-list {
    display: flex;
    flex-direction: column;

    .Brand-title {
      color: white;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
    }
  }
}

.hide {
  display: none;
}
