.MyPage {
  display: flex;
  justify-content: center;

  .mypage-container {
    justify-content: center;
    display: flex;
    width: 1180px;
    height: 1250px;
    margin: 0 80px;
    padding-top: 100px;

    .mypage-menu {
      width: 200px;
      margin-right: 20px;

      h2 {
        font-size: 22px;
      }
      h3 {
        margin: 32px 0 15px 0;
        font-size: 16px;
      }
      ul {
        line-height: 24px;
        padding-left: 8px;
        font-size: 14px;
      }
      p {
        margin-top: 15px;
        font-weight: bold;
        font-size: 16px;
      }
    }
    .user-grade-info {
      width: 1000px;
      height: 145px;
      padding: 30px 30px 30px 20px;
      border: 1px solid #e9e9e9;
      display: flex;
      justify-content: space-between;

      .user-grade {
        display: flex;
        align-items: center;
        margin-top: 5px;

        .grade-img {
          width: 70px;
          height: 70px;
          background-size: cover;
          background-image: url("https://lush.co.kr/data/icon/group_image/ico_member_upload1.png");
        }
        .grade-text {
          margin-left: 15px;
          font-size: 16px;
        }
      }
      .user-membership {
        width: 440px;
        height: 78px;

        .membership-icon {
          height: 34px;

          img {
            margin-left: 60px;
          }
        }
        .membership-info {
          position: relative;
          display: flex;
          text-align: center;
          font-size: 16px;
          justify-content: space-around;

          bottom: 25px;

          .benefit {
            margin-left: 15px;
          }
          .question {
            margin-right: 34px;
          }
        }
      }
    }
    .address-section {
      padding-bottom: 20px;
      width: 1000px;
      margin-top: 80px;
      border-bottom: 1px solid;

      .section-head {
        display: flex;
        justify-content: space-between;

        .head-text {
          display: flex;

          .address-section-title {
            font-size: 21px;
          }
          span {
            margin-left: 5px;
            margin-top: 3px;
            font-size: 14px;
          }
        }
        .add-address {
          width: 121px;
          height: 31px;
          outline: none;
          border: none;
          background-color: #979797;
          color: white;
          font-size: 12px;
          font-weight: bold;
        }
      }
      //   .address
    }
  }
}
