.MainUnderContents {
  .inner-wrap {
    width: 1200px;
    height: 760px;
    margin: auto;
    padding: 147px 0 30px 0;

    .instagram-wrap {
      height: 584px;

      .insta-pics {
        position: relative;
        height: 584px;
        display: block;
        flex-wrap: wrap;
        justify-content: center;

        .insta-box {
          position: absolute;
          opacity: 1;
          background-size: cover;
          transition: 0.5s;
          cursor: pointer;
        }

        .insta-box:hover {
          opacity: 0.7;
        }

        .box1 {
          width: 220px;
          height: 220px;
          margin: 0 10px 10px 0;
          top: -90px;
          left: 220px;
          background-image: url(./Image/insta_pic1.jpg);
        }

        .box2 {
          width: 280px;
          height: 280px;
          margin: 140px 10px 10px 160px;
          background-image: url(./Image/insta_pic2.jpg);
        }

        .box3 {
          width: 280px;
          height: 280px;
          left: 450px;
          margin: 0 10px 10px 0;
          background-image: url(./Image/insta_pic3.jpg);
        }

        .box4 {
          width: 280px;
          height: 280px;
          left: 450px;
          margin: 290px 0 0 0;
          background-image: url(./Image/insta_pic4.jpg);
        }

        .box5 {
          width: 280px;
          height: 280px;
          left: 740px;
          margin: 34px 0 10px 0;
          background-image: url(./Image/insta_pic5.jpg);
        }

        .box6 {
          width: 224px;
          height: 224px;
          left: 740px;
          margin: 324px 0 0 0;
          background-image: url(./Image/insta_pic6.jpg);
        }
      }
    }

    .sns {
      position: relative;
      display: flex;
      justify-content: center;
      bottom: 130px;
      margin-left: 160px;
      width: 280px;
      height: 39px;

      .underIcon {
        width: 39px;
        height: 39px;
        margin: 0 10px;
      }
    }
  }
}
