.GoodsDetailcontents {
  width: 1200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  // background-color: darkorange;
  .mainleft {
    margin-top: 60px;
    margin-right: 40px;
    padding: 20px 20px 10px 20px;

    // background: darkgreen;
    .picturebox {
      width: 380px;
      height: 380px;
      // margin: 20px 40px 20px 40px;
      // background-color: darkmagenta;

      .picture {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
      }
    }
    .picturefootera {
      width: 379px;
      height: 150px;
      margin-top: 30px;
      // background-color: darkgoldenrod;
      .picturefooterimg {
        // width: 379px;
        height: 50px;
        // background-color: darkblue;
      }
    }
  }

  .mainright {
    // background-color: darkred;
    .location {
      display: inline-flex;
      width: 577px;
      height: 25px;
      margin-top: 20px;
      margin-bottom: 40px;
      // background-color: darksalmon;

      .locationhome {
        width: 50px;

        .home {
          font-size: 20px;
        }
      }
      .locationwrap {
        width: 100%;
        .productselect {
          padding: 3px 30px 3px 30px;
        }
        .productdetailselect {
          margin-left: 10px;
          margin-right: 10px;
          padding: 3px 30px 3px 30px;
        }
        .productdetailselecta {
          padding: 3px 30px 3px 30px;
        }
      }
    }
    .header_wrapping {
      width: 550px;
      height: 100px;
      // background-color: darkseagreen;
      // border: 1px solid red;

      .product_h1 {
        display: flex;
        width: 100%;
        height: 70%;

        .product_name {
          font-size: 30px;
          font-style: solid;
          margin-right: auto;
        }
        .product_img {
          margin-left: auto;
          justify-content: flex-end;
        }
      }
      .hashtag {
        height: 30px;
      }
    }

    .inner_right_box {
      width: 577px;
      height: 250px;
      // background-color: darkslategray;
      .allreview {
        width: 577px;
        height: 30px;
        font-size: 15px;
        border-top: 1px solid #e7e7e7;
      }

      .goodtoknow {
        width: 577px;
        height: 30px;
        font-size: 15px;
        margin-bottom: 20px;
      }
      .priceinfo {
        height: 150px;
        .price {
          display: flex;
          width: 200px;
          height: 50px;
          .pricetext {
            font-size: 17px;
          }
          .pricenum {
            margin-left: 45px;
            font-size: 15px;
          }
        }
        .goodsweight {
          display: flex;
          width: 200px;
          height: 50px;
          .goodsweightext {
            font-size: 17px;
          }
          .goodsweightnum {
            margin-left: 45px;
            font-size: 15px;
          }
        }
        .ordercount {
          display: flex;
          width: 500px;
          height: 50px;
          // background-color: deeppink;
          .ordercounttext {
            font-size: 17px;
            // margin-right: 30px;
            width: 100px;
            height: 30px;
            // background-color: darkturquoise;
          }
          .buttonbody {
            // margin-left: 100px;
            width: 170px;
            height: 30px;
            // background-color: dodgerblue;
            display: flex;
            .count {
              width: 30px;
              height: 30px;
            }
            .countbox {
              height: 30px;
              width: 100px;
              // background-color: firebrick;
              border: 1px solid black;
              padding: 5px;
              .countbox_text {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }

  .endprice {
    width: 580px;
    height: 100px;
    margin-top: 30px;
    border-top: 1px solid #e7e7e7;

    .price {
      display: flex;
      width: 350px;
      height: 30px;
      margin-left: 300px;
      font-size: 20px;
      .goods_total_price {
        margin-left: 30px;
        font-size: 30px;
        margin-top: 5px;
      }
      .pricetext {
        margin-top: 10px;
      }
    }

    .total {
      margin-top: 10px;
      display: flex;
      width: 350px;
      height: 30px;
      margin-left: 300px;
      font-size: 20px;
      .totaltext {
        margin-top: 10px;
      }
      .total_price {
        margin-left: 30px;
        font-size: 30px;
        margin-top: 5px;
      }
    }
  }

  .twobuttons {
    display: flex;
    margin-top: 15px;
    .basketbutton {
      width: 285px;
      height: 54px;
      margin-right: 5px;
      border: 1px solid black;
      .ordertexta {
        text-align: center;
        font-size: 15px;
        margin-top: 15px;
      }
    }

    .orderbutton {
      width: 285px;
      height: 54px;
      margin-left: 5px;
      background-color: black;
      .ordertext {
        color: white;
        text-align: center;
        font-size: 15px;
        margin-top: 15px;
      }
    }
  }
  .naverpay {
    display: flex;
    margin-left: 220px;
    margin-top: 30px;
    padding-left: 40px;
    .naverpaytext {
      width: 120px;
      margin-right: 3px;
      padding-left: 10px;
      .naverpay_text_en {
        font-size: 7px;
        font-weight: bolder;
        color: #00c73c;
      }
      .naverpay_text_ko_a {
        font-size: 2px;
        padding: 0;
      }
    }
    .naverbox {
      width: 150px;
      height: 37px;
      background-color: #00c73c;
      border: 1px solid #00c73c;
      padding: 5px 10px 2px 30px;
      display: flex;

      // .naver_N_box {
      //   width: 30px;
      //   height: 25px;
      //   background-color: white;
      //   display: flex;
      // .naver_N {
      //   font-size: 25px;
      //   font-weight: bolder;
      //   color: white;
      // }
      .pay_text {
        font-size: 15px;
        color: white;
      }
    }
    .savebutton {
      margin-left: 10px;
      border: 1px solid black;
      width: 37px;
      height: 37px;
      padding: 3px 3px 3px 3px;
      .save_text {
        font-size: 14px;
        color: #00c73c;
        margin-left: 7px;
        margin-top: 5px;
      }
    }
  }
}
