.Header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  width: 100%;
  background-color: black;
  height: 100px;
  z-index: 9999;

  .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: inherit;

    .main-logo {
      cursor: pointer;
      padding-right: 275px;
    }

    .main-menus {
      .main-menu-list {
        display: flex;
        align-items: center;
        color: white;
        justify-content: space-between;

        .product-menu {
          position: relative;
          height: 100px;
          display: flex;
          align-items: center;
        }

        .brand-menu {
          position: relative;
          height: 100px;
          display: flex;
          align-items: center;
        }

        .main-menu {
          font-size: 16px;
          margin-right: 75px;
          cursor: pointer;
          word-spacing: -1px;
          letter-spacing: 2px;
        }
      }
    }
    .main-icons {
      margin-left: 20px;
      display: flex;
      justify-content: space-between;
      height: 100px;
      align-items: center;

      .main-icon-list {
        height: 100px;
        display: flex;
        align-items: center;

        .main-icon {
          width: 23px;
          height: 23px;
          margin-left: 40px;
          cursor: pointer;
        }

        .mypage-icon {
          margin-top: 5px;
        }
      }
      .header-cart {
        display: flex;
        flex-direction: row-reverse;

        .cart-count {
          position: absolute;
          margin-left: 4px;
          top: 50px;
          width: 16px;
          height: 16px;
          background-color: white;
          border-radius: 8px;
          border: 1px solid white;
          display: flex;
          justify-content: center;
          align-items: center;

          .cart-count-number {
            color: black;
            font-size: 10px;
          }
        }
      }

      .header-pop {
        position: relative;

        .pop-form {
          position: absolute;
          width: 222px;
          height: 185px;
          left: -180px;
          margin-top: 120px;

          .pop-mypage {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid #eaeaea;

            .pop-menu {
              width: 220px;
              height: 46px;
              background-color: white;
              text-align: center;
              font-size: 11px;
              border-bottom: 1px solid #eaeaea;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: 0.5s;
            }

            .pop-menu:hover {
              background-color: black;
              color: white;
            }
          }
        }

        .pop-form-show {
          position: absolute;
          width: 222px;
          height: 185px;
          left: -160px;
          margin-top: 120px;

          .pop-mypage {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid #eaeaea;

            .pop-menu {
              width: 220px;
              height: 46px;
              background-color: white;
              text-align: center;
              font-size: 11px;
              border-bottom: 1px solid #eaeaea;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: 0.5s;
            }

            .pop-menu:hover {
              background-color: black;
              color: white;
            }
          }
        }

        .pop-hide {
          display: none;
        }
      }
    }
  }
}
