.AddAddress {
  .add-address-container {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;
    margin-top: 80px;
    z-index: 10001;
    position: fixed;
    left: 30%;
    width: 694px;
    height: 530px;
    background-color: white;
    padding: 20px;

    h2 {
      font-size: 21px;
    }

    .add-form {
      padding: 15px;

      .form-title {
        font-size: 16px;
        font-weight: bold;
        color: #717171;
        padding: 5px 0 5px 0;
      }
      .input-form {
        border-top: 1px solid;

        .address-name-input,
        .user-number-input,
        .recieve-user-name-input,
        .user-mobile-input {
          height: 48px;
          display: flex;
          border-bottom: 1px solid #afb1af;

          .input-address-name,
          .input-number,
          .input-recieve-user-name,
          .input-mobile {
            width: 130px;
            padding: 14px 16px;
            background-color: #f9f9f9;

            p {
              color: #717171;
            }
          }

          .name-input,
          .number-input,
          .user-input,
          .mobile-input {
            width: 210px;
            height: 38px;
            padding: 5px;

            input {
              position: absolute;
              border: 1px solid #bcb6b4;
              height: 36px;
              outline: none;
              font-size: 16px;
            }
          }
        }

        .address-input {
          height: 96px;
          display: flex;
          border-bottom: 1px solid #afb1af;

          .input-address-title {
            width: 130px;
            padding: 35px 16px;
            background-color: #f9f9f9;

            p {
              color: #717171;
            }
          }
          .address-input-form {
            padding: 5px;

            .address-input1 {
              display: flex;
              height: 38px;

              input {
                border: 1px solid #bcb6b4;
                outline: none;
              }

              button {
                width: 100px;
                margin-left: 5px;
                background-color: white;
                border: 1px solid #bcb6b4;
                font-size: 12px;
                font-weight: bold;
                outline: none;
              }
            }
            .address-input2 {
              margin-top: 5px;
              display: flex;
              height: 38px;

              input {
                border: 1px solid #bcb6b4;
                margin-right: 5px;
                outline: none;
              }
            }
          }
        }
      }
    }
    .default-address-check {
      text-align: center;
      margin-top: 15px;
      display: flex;
      justify-content: center;

      .address-check-input {
        input {
          border: 1px solid #bcb6b4;
          cursor: pointer;
          margin-top: 3px;
        }
      }
      .address-check-text {
        margin-left: 5px;
      }
    }
    .last-btn {
      margin-top: 15px;
      display: flex;
      justify-content: center;

      .cancel-btn {
        button {
          height: 38px;
          width: 80px;
          background: none;
          font-size: 12px;
          font-weight: bold;
          cursor: pointer;
          border: 1px solid black;
          outline: none;
        }
      }

      .save-btn {
        margin-left: 5px;

        button {
          height: 38px;
          width: 80px;
          background-color: black;
          font-size: 12px;
          color: white;
          font-weight: bold;
          cursor: pointer;
          border: none;
          outline: none;
        }
      }
    }
  }
}

.AddAddress-hide {
  display: none;
}
