.MiddleSlide {
  .product-form {
    .product-img {
      width: 280px;
      height: 280px;
      cursor: pointer;
      margin-left: 15px;
    }

    .slide-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      .product-name {
        font-size: 18px;
        color: #333333;
        cursor: pointer;
      }

      .hash-tag {
        color: #8f8f8f;
        cursor: pointer;
      }

      .price {
        margin-top: 10px;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}
