.GoodsDetailcontents {
  width: 1200px;
  //height: 600px;
  display: flex;
  //flex-direction: column;
  justify-content: center;
  // align-items: center;
  margin: 0 auto;
  .mainleft {
    //width: 505px;
    //height: 600px;
    //margin-left: 10px;
    //background-color: darkgoldenrod;
    //display: flex;
    //margin: 0 auto;
    .picturebox {
      //background-color: yellow;
      width: 380px;
      height: 380px;
      margin: 20px 20px 20px 40px;
      // .picture {
      //   width: 380px;
      //   height: 380px;
      //   margin: 10px;
      // }
      .picturefootera {
        background-color: tomato;
        width: 379px;
        height: 150px;
        .picturefooterimg {
          //margin-top: 100px;
          //margin-left: 10px;
          width: 379px;
          height: 50px;
        }
      }
    }
  }

  .mainright {
    .location {
      display: inline-flex;
      width: 577px;
      margin-bottom: 100px;
      //height: 52px;
      //background-color: red;
      //position: relative;
      //flex-direction: row-reverse;

      .locationhome {
        width: 50px;
        //height: 50px;
        //background-color: green;

        .home {
          font-size: 30px;
          //width: 400px;
        }
      }
      .locationwrap {
        width: 100%;
        background-color: hotpink;
        .productselect {
          width: 100px;
        }
        .productdetailselect {
          width: 100px;
        }
        .productdetailselecta {
          //osition: absolute;
        }
      }
    }
    .productname {
      font-size: 20px;
      font-style: solid;
      //padding-left: 0;
      //margin-left: 0px;
      //display: inline;
      text-align: left;
    }
    .hashtag {
      //display: flex;
      //background-color: salmon;
      width: 577px;
      height: 50px;
    }

    .allreview {
      //background-color: seagreen;
      width: 577px;
      height: 30px;
      font-size: 15px;
      border-top: 1px solid #e7e7e7;
    }

    .goodtoknow {
      //background-color: sienna;
      width: 577px;
      height: 50px;
      font-size: 15px;
      margin-bottom: 20px;
    }
  }

  .priceinfo {
    width: 585px;
    height: 150px;
    //background-color: darkorange;

    //display: flex;
    .price {
      display: flex;
      //margin-left: 200px;
      width: 300px;
      height: 50px;
      //background-color: yellowgreen;
      .pricetext {
        font-size: 15px;
      }
      .pricenum {
        margin-left: 60px;
        font-size: 15px;
      }
    }
    .goodsweight {
      display: flex;
      width: 300px;
      height: 50px;
      //background-color: red;
      .goodsweightext {
        font-size: 15px;
      }
      .goodsweightnum {
        margin-left: 45px;
        font-size: 15px;
      }
    }
    .overcount {
      //display: flex;
      width: 300px;
      height: 50px;
      //background-color: green;
      .ordercounttext {
        font-size: 15px;
      }
    }
  }

  .endprice {
    width: 580px;
    height: 125px;
    //background-color: darkgray;
    border-top: 1px solid #e7e7e7;

    .price {
      display: flex;
      width: 350px;
      height: 30px;
      margin-left: 300px;
      font-size: 20px;
      .goods_total_price {
        margin-left: 30px;
        font-size: 30px;
      }
    }

    .total {
      margin-top: 10px;
      display: flex;
      width: 350px;
      height: 30px;
      margin-left: 300px;
      font-size: 20px;
      .total_price {
        margin-left: 30px;
        font-size: 30px;
      }
    }
  }

  .twobuttons {
    display: flex;
    margin-top: 15px;
    .basketbutton {
      width: 285px;
      height: 54px;
      margin-right: 5px;
      //background-color: slateblue;
      border: 1px solid black;
      .ordertexta {
        text-align: center;
        font-size: 15px;
        margin-top: 15px;
      }
    }

    .orderbutton {
      width: 285px;
      height: 54px;
      margin-left: 5px;
      background-color: black;
      .ordertext {
        color: white;
        text-align: center;
        font-size: 15px;
        margin-top: 15px;
      }
    }
  }
  .naverpay {
    display: flex;
    margin-left: 270px;
    margin-top: 30px;
    .naverbox {
      width: 150px;
      height: 37px;
      background-color: #00c73c;
      border: 1px solid #00c73c;
    }
    .savebutton {
      margin-left: 10px;
      border: 1px solid springgreen;
      width: 37px;
      height: 37px;
    }
  }
}
