.Footer {
  background-color: #000000;
  border-top: 1px solid #262626;
  color: white;
  display: flex;
  justify-content: center;
  height: 459px;
  padding: 45px 0 55px 0;

  .footer-container {
    width: 1200px;
    height: 339px;
    display: flex;
    .footer-left {
      padding-left: 100px;
      .footer-left-under {
        margin-top: 50px;
        font-size: 14px;
        .phone-number {
          margin-top: 10px;
        }
        .callCenter {
          margin-top: 10px;
        }
      }
    }
    .sub-info {
      display: flex;
      flex-direction: column;
      margin-left: 100px;
      .foot-menu {
        display: flex;
        // margin-left: 100px;
        li {
          margin-right: 40px;
          font-size: 14px;
        }
        .foot-personal {
          font-weight: bold;
        }
      }
      .foot-text {
        margin-top: 50px;
        font-size: 16px;
        font-weight: bold;
      }
      .foot-email-submit {
        display: flex;
        margin-top: 30px;
        // border: 1px solid white;
        // background-color: white;
        .foot-email-input {
          background-color: white;
          width: 300px;
          height: 40px;
          input {
            width: inherit;
            height: inherit;
            text-indent: 15px;
            color: black;
          }
        }
        .foot-email-btn {
          .foot-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 15px;
            width: 100px;
            height: 39px;
            border: 1px solid white;
            background-color: black;
            color: white;
          }
        }
      }
      .foot-company-info {
        margin-top: 30px;
        p {
          letter-spacing: 0.5px;
          font-size: 14px;
          color: #9b9b9b;
        }
        .copyright {
          font-size: 12px;
          margin-top: 20px;
        }
      }
    }
  }
}
