.SignUp {
  width: 1200px;
  height: 1100px;
  //display: rel                                                                                                                  ative;
  padding-top: 50px;
  //background-color: blue;
  //margin-left: 400px;
  margin: 0 auto;

  .title {
    width: 1200px;
    height: 110px;
    margin: 0px;
    //display: absolute;
    //background-color: blueviolet;
    //margin-top
    .titlea {
      width: 1200px;
      height: 60px;
      //background-color: brown;
      .titleatext {
        font-size: 40px;
        font-weight: bolder;
        text-align: center;
        //background-color: coral;
        margin-left: 500px;
      }
    }
    .titleb {
      width: 1200px;
      height: 23px;
      //background-color: chartreuse;
      .titlebbox {
        margin-left: 430px;
        margin-top: 20px;
        .agree {
          font-size: 16px;
          color: #a9a9a9;
        }
        .this {
          margin-left: 45px;
          font-size: 16px;
          font-weight: bold;
        }
        .end {
          margin-left: 45px;
          font-size: 16px;
          color: #a9a9a9;
        }
      }
    }

    .memberinfo {
      width: 1080px;
      height: 800px;
      //background-color: darkcyan;
      .memberinfohead {
        width: 1080px;
        height: 50px;
        margin-top: 100px;

        //background-color: darkgray;
        border-bottom: 1px solid black;
        .infotext {
          font-size: 30px;
          font-weight: bold;
          margin-left: 30px;
          // margin-top: 50px;
        }
        .infostar {
          font-size: 13px;
          margin-left: 650px;
          //margin-top: 30px;
          //float: left;
        }
      }

      .form {
        width: 1080px;
        height: 600px;
        margin-top: 30px;
        //background-color: darkkhaki;
        .box {
          width: 1000px;
          height: 40px;
          display: flex;
          margin-bottom: 20px;
          //background-color: darkkhaki;
          .text {
            font-size: 14px;
            //background-color: darkorange;
            width: 120px;
            height: 40px;
            margin-left: 30px;
          }

          .inputbox {
            width: 403px;
            height: 38px;
            margin-left: 120px;
            //background-color: darkmagenta;
          }
          .inputboxa {
            width: 250px;
            height: 38px;
            margin-left: 120px;
          }
          .inputboxb {
            width: 145px;
            height: 38px;
            margin-left: 10px;
          }
        }
        // .addressbox {
        //   width: 1000px;
        //   height: 100px;
        //   background-color: darkorchid;
        // }
        // .inputboxc {
        //   width: 155px;
        //   height: 38px;
        //   margin-left: 120px;
        // }
        .buttonbox {
          width: 1080px;
          height: 50px;
          border-bottom: 1px solid black;
        }
        .loginbtn {
          width: 279px;
          height: 57px;
          margin-left: 320px;
          margin-top: 150px;
          //margin: 0 auto;
          //text-align: center;
        }
        .addressbox {
          margin-left: 260px;
        }
      }
    }
  }
}
