.SignUp {
  width: 1200px;
  height: 1100px;
  padding-top: 50px;
  margin: 0 auto;

  .title {
    width: 1200px;
    height: 110px;
    margin: 0px;
    .titlea {
      width: 1200px;
      height: 60px;
      .titleatext {
        font-size: 40px;
        font-weight: bolder;
        text-align: center;
        margin-left: 500px;
      }
    }
    .titleb {
      width: 1200px;
      height: 23px;
      .titlebbox {
        margin-left: 430px;
        margin-top: 20px;
        .agree {
          font-size: 16px;
          color: #a9a9a9;
        }
        .this {
          margin-left: 45px;
          font-size: 16px;
          font-weight: bold;
        }
        .end {
          margin-left: 45px;
          font-size: 16px;
          color: #a9a9a9;
        }
      }
    }

    .memberinfo {
      width: 1080px;
      height: 800px;
      .memberinfohead {
        width: 1080px;
        height: 50px;
        margin-top: 100px;

        border-bottom: 1px solid black;
        .infotext {
          font-size: 30px;
          font-weight: bold;
          margin-left: 30px;
        }
        .infostar {
          font-size: 13px;
          margin-left: 650px;
        }

        .form {
          width: 1080px;
          height: 600px;
          margin-top: 30px;
          .box_id {
            width: 1000px;
            height: 40px;
            display: flex;
            margin-bottom: 20px;
            .text {
              font-size: 16px;
              width: 120px;
              height: 40px;
              margin-left: 10px;
            }
            .id_message {
              // padding-left: 190px;
              .id-color {
                color: rgb(44, 58, 44);
                // margin-left: 50px;
              }

              .id-none {
                // display: none;
                margin-left: 70px;
              }
            }

            .inputbox {
              border-style: solid;
              border: 1px solid black;
              width: 403px;
              height: 38px;
              margin-left: 120px;
            }
          }

          .box_confirm_password {
            width: 1000px;
            height: 40px;
            display: flex;
            margin-bottom: 20px;
            .text {
              font-size: 16px;
              width: 120px;
              height: 40px;
              margin-left: 10px;
            }

            .inputbox {
              border-style: solid;
              border: 1px solid black;
              width: 403px;
              height: 38px;
              margin-left: 120px;
            }
          }

          .box {
            width: 1000px;
            height: 40px;
            display: flex;
            margin-bottom: 20px;

            .text {
              font-size: 16px;
              width: 120px;
              height: 40px;
              margin-left: 10px;
            }

            .text_nick {
              margin-left: 23px;
              width: 120px;
              height: 40px;
              font-size: 16px;
            }
            .agree_checkbox {
              margin-left: 15px;
              margin-top: 3px;
            }

            .inputbox {
              border-style: solid;
              border: 1px solid black;
              width: 403px;
              height: 38px;
              margin-left: 120px;

              &.color-change {
                border: 3px solid green;
                // background-color: green;
              }
            }

            .inputboxa {
              width: 250px;
              height: 38px;
              margin-left: 120px;
            }
            .email_select {
              width: 142px;
              height: 40px;
              margin-left: 10px;
            }
          }
          .addressbox {
            width: 1000px;
            height: 100px;
            border-bottom: 1px solid rgb(49, 49, 49);
            .addressboxa {
              display: flex;
              height: 40px;
              .text_address {
                margin-left: 23px;
                width: 120px;
                height: 40px;
                font-size: 16px;
              }
              .inputboxa {
                width: 250px;
                height: 38px;
                margin-left: 120px;
              }
              .text {
                font-size: 14px;
                width: 120px;
                height: 40px;
                margin-left: 30px;
              }
            }

            .searchfor_zip_box {
              width: 200px;
              .searchfor_zip {
                width: 145px;
                height: 38px;
                margin-left: 10px;
                border: 1px solid rgb(39, 38, 38);
                border-radius: 3px;
                .searchfor_zip_text {
                  text-align: center;
                  padding-top: 8px;
                  font-size: 12px;
                }
              }
            }
            .addressboxb {
              width: 700px;
              height: 25px;
              margin-left: 265px;
              .inputboxc {
                width: 300px;
                height: 40px;
              }
            }
          }
        }

        .buttonbox {
          .loginbtn {
            width: 279px;
            height: 57px;
            margin-left: 320px;
            background-color: rgb(41, 39, 39);
            .signup_text {
              font-size: 17px;
              color: white;
            }
          }
        }
      }
    }
  }
}
